.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "aside div div"
    "aside aside aside";
    gap: 20px
}

.item.one{
    grid-area: header;
    background-color: black;
}

.item.two{
    grid-area: aside;
    background-color: green;
}

.item.two{
    grid-area:div;
    background-color: yellow;
}

