.sign_in {
    background-color: rgb(25, 25, 172);
    color: white;
    border: none;
    height: 2vh;
    width: 6vw;
    border-radius: 6px;
    margin-bottom: .5%;
}

.sign_up {
    background-color:rgb(25, 25, 172);
    color: white;
    border: none;
    font-size: 15px;
    height: 10%;
    width: 5%;
    border-radius: 6px;
}

blockquote{
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 50px;
    width: 50%;
    color: white;   
    font-size: 25px;
    font-weight: 800;
}

.background-img {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Atlantic_near_Faroe_Islands.jpg/1280px-Atlantic_near_Faroe_Islands.jpg');
    width: 100%;
    height: 300px; /* Set a specific height */
    background-size: cover;
    background-position: center center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin-left: 650px;
    display: inline-block;
    text-align: center;
}

.email{
    border-radius: 5px;
    height: 15%;
    display: inline-block;
    text-align: left;
}

.icons_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh
}

.computer_icon {
    height: 10vh;
    width: 10wh
}
.FR_container {
    display: flex;
    flex-direction: column;
    height: 300px; /* Specify a height for demonstration purposes */
    width: 10vw
}

.FR_container p {

    font-size: .8rem;
    color: gray
}


/* display: grid;
grid-template-rows: repeat(3, 1fr); 
align-items: space-evenly; 
height: 300px; 

.computer_icon {
    
}

.bootstrap {
    margin-left: 15%;
    margin-right: 50%
}
body {
    background-color: lightgray;
}

img{
    height: 7vh;
    height: 7xh
}