.navbar-brand {
    font-family: "Brush Script MT";

    font-size: 190px;
}

.nav-item {
    font-family: Audiowide;
    font-size: 14px;

}

h1 {
    font-family: Audiowide;
} 

button {
    width: 1px;
    height: 1px;
}